<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>promo p modulo 4 pair 13</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header>
      <h1>NETFLIX</h1>
    </header>
    <main>
      <div class="card">
        <img class="card__img" src="<%=photo%>" alt="Carátula de undefined" />
        <h3 class="card__title"></h3>
        <p class="card__description">Género: <%=gender%></p>
      </div>
    </main>
  </body>
</html>
